
@media (max-width:425px){
    #nav img {
        width: 25vw !important;
    }
    #nav {
        padding: 0px 30px 30px 20px;
    }
    #nav a {

        font-size: 2.95vw;
        font-weight: 550;
    }
    .home_main .headings h1 {
        font-size: 5vw;
        letter-spacing: 0;
        line-height: 0;
       
        -webkit-text-stroke: .5px #000;
    }
    .homelast p {
        font-size: 2.7vw;
        font-weight: 400;
        width: 70%;
        margin: auto;
        text-align: center;
        letter-spacing: -.08vw;
    }
    #home {
      
        min-height: 0;
     
    }
    .f_headiing {
        display: flex;
        justify-content: center !important;
        gap: 5px;
       
    }
    .f_headiing>h1 {
        line-height: 0;
        font-size: 4.5vw;
        font-weight: 400;
    }
    .featured {
        padding: 10vw 5vw;
        width: 100% !important;
    }
    .F_img {
        width: 100% !important;
        height: 100vh !important;
        margin-top: 5vw;
        display: flex;
        justify-content: space-between;
    }.home_main h1 {
        font-weight: 600;
        font-size: 2.3vw;
        margin-bottom: 30px;
    }
    .fright{
        width: 75%;
    }
    .fleftlm h3 {
        font-size: 4.2vw;
        font-weight: 400;
    }
    .fleftlm h1 {
        font-size: 2.8vw;
        font-weight: 500;
   
    }#nav i {
        font-size: 3.6vw;
    }.btn_div button {
        padding: 3.3vw 6.5vw;
        border-radius: 100px;
        border: 2px solid #a1a1a1;
        background-color: #fff;
        font-size: 2.5vw;
        font-weight: 600;
        letter-spacing: -.1px;
    }
    .dev h1 {
        font-size: 4.8vw;
     margin: auto;
    }
    .home_main {
        width: 100%;
        padding: 10vw 10vw;
    }
    .dev p {
        font-size: 2.5vw;
        margin-top: 3vw;
        letter-spacing: 0px;
        margin: 20px auto;
        width: 90%;
        
    }
    .slides {

        display: flex;
    flex-direction: column;
    }.slide {
        width: 100%;
    }.slide .tag {

        margin: 30px auto 0px auto;
    }.slide h3 {
        font-size: 3.4vw;
        margin:  10px auto 30px auto;
  
    }
    .slide {
        width: 100%;
        text-align: center;
    }
    footer {
        display: flex;
        justify-content: center;
        padding: 5vw 0;
        font-size: 3vw;
    }
    footer a img{
        height: 30px;
        width: 30px;
       }
       footer p{
           font-size: 12px !important;
           width: 60%;
       }
}